<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/src/output.css">
</head>
<body>
    <div class="w-scree h-screen bg-zinc-900 text-white p-10">
        <form action="/" class="flex flex-wrap gap-5">
            <input type="text"  placeholder="Name" class="px-10 py-3 bg-zinc-700 rounded-xl">
            <input type="text"  placeholder="Email" class="px-10 py-3 bg-zinc-700 rounded-xl">
            <input type="text" name="" placeholder="Image URL" class="px-10 py-3 bg-zinc-700 rounded-xl">

            <input type="submit" name="CREATE USER" placeholder="CREATE USER" class="px-5 py-2 bg-blue-800 rounded-xl text-white cursor-pointer hover:scale(0.98)">
        </form>
    </div>

</body>
</html>