<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/src/output.css">
</head>
<body>
    <div class="w-screen h-screen bg-zinc-900 text-white p-10 overflow-auto">
        <nav class="mb-10">
            <a href="/" class="text-blue-600 hover:underline">Back to Home</a>
        </nav>

        <h1 class="text-3xl font-bold mb-1">ALL USERS</h1>
        <hr class="mb-3">
        <div class="users h-[100%] w-full flex flex-row flex-wrap gap-3">

            <div class="user h-80 w-60 bg-zinc-800 rounded-xl p-2">
                <div class="bg-zinc-700 h-[70%] w-full rounded-xl mb-2"></div>
                <p class="name font-bold">Gargie Singh</p>
                <p class="email text-gray-400">gargiesingh@gmail.com</p>
                <div class="controls flex justify-between my-2">
                    <div class="edit text-white  bg-zinc-600 rounded-xs px-2 hover:scale-95 cursor-pointer ">
                        Edit User
                    </div>
                    <div class="delete bg-red-900 text-white rounded-xs px-2 hover:scale-95 cursor-pointer">
                        Delete User
                    </div>
                </div>
            </div>

            <div class="user h-80 w-60 bg-zinc-800 rounded-xl p-2">
                <div class="bg-zinc-700 h-[70%] w-full rounded-xl mb-2"></div>
                <p class="name font-bold">Gargie Singh</p>
                <p class="email text-gray-400">gargiesingh@gmail.com</p>
                <div class="controls flex justify-between my-2">
                    <div class="edit text-white  bg-zinc-600 rounded-xs px-2 hover:scale-95 cursor-pointer ">
                        Edit User
                    </div>
                    <div class="delete bg-red-900 text-white rounded-xs px-2 hover:scale-95 cursor-pointer">
                        Delete User
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>